html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    
}



.header {
    background-color: #5475AB;
}
.nav__list {
    text-align: center;
    line-height: 3em;
    list-style: none;
}
.nav__link {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 1rem;
    font-weight: 900;
}

a:hover {
    opacity: .75;
}

.title {
    text-align: center;
    font-family: monospace;
    background-color: #5F54AB;
    color: white;
    padding: 1em;
    margin: 1em 0 1em 0;
}
main {
    background-color: #5475AB;
}


.portrait__figure {
    text-align: center;
}
.bell__portrait {
    max-width: 12.5rem;
    width: 10rem;
    border-radius: 40px;
    border: ridge;
    
}

.portrait__caption {
    font-size: .7rem;
    font-family: monospace;
    color: white;
}

.introduction__paragraph {
    text-align: center;
    padding: .8em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #5F54AB;
    color: white;
    width: 80%;
    margin: 1em auto 1em;
    border-radius: 20px;
}


.early__life__h2 {
    text-align: center;
    font-family: monospace;
    color: white;
    margin-bottom: 1em;
    font-size: 1.125rem;
    
}
.early__life__paragraph {
    text-align: center;
    padding: .8em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #5F54AB;
    color: white;
    width: 80%;
    margin: 1em auto 1em;
    border-radius: 20px;
}

.the__telephone__h2 {
    text-align: center;
    margin-bottom: 1em;
    color: white;
    font-family: monospace;
    font-size: 1.125rem;
}

.telephone__paragraph {
    text-align: center;
    margin: 1em auto 1em;
    padding: .8em;
    color: white;
    width: 80%;
    background-color: #8B54AB;
    border-radius: 20px;
}
.bell__speaking {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.bell__speaking__photo {
    width: 13rem;
    max-width: 15rem;
    border-radius: 40px;
    border: ridge;
}
.phone__caption {
    text-align: center;
    color: white;
    font-size: .7rem;
}
.patent__div {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.patent__image {
    width: 12rem;
    max-width: 15rem;
    border-radius: 40px;
    border: ridge;
}
.master__patent__div {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.master__patent {
    width: 12rem;
    max-width: 15rem;
    border-radius: 40px;
    border: ridge;
}

.later__inventions__h2 {
    text-align: center;
    color: white;
    font-size: 1.125rem;
    font-family: monospace;
    margin: 1em 0;
}

.later__inventions__paragraph {
    text-align: center;
    margin: 1em auto 1em;
    padding: .8em;
    color: white;
    width: 80%;
    border-radius: 20px;
    background-color: #AB5474;
}

.death__h2 {
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: 1.125rem;
    margin: 1em 0;
}

.death__paragraph {
    text-align: center;
    margin: 1em auto 1em;
    padding: .8em;
    color: white;
    width: 80%;
    border-radius: 20px;
    background-color: #54AB8B;
}

.footer {
    background-color: #A0AB54;
    text-align: center;
    padding: 1em;
    color: white;
}

@media (min-width: 600px) {
    .nav__list {
        display: flex;
        flex-direction: row;
        gap: 1em;
        justify-content: space-around;
    }

    .title {
        font-size: 3rem;
    }
    .early__life__h2 {
        font-size: 3rem;
    }

    .the__telephone__h2 {
        font-size: 3rem;
    }

    .later__inventions__h2 {
        font-size: 3rem;
    }
    .death__h2 {
        font-size: 3rem;
    }
    .introduction__div {
        display: flex;
        width: 100%;
    }

    .introduction__paragraph {
        width: 60%;
        font-size: 1.8rem;
        
    }

    .bell__portrait {
        width: max-content;
    }

    .portrait__figure {
        margin: 0 auto;
    }

    .early__life__div {
        display: flex;
        gap: 1em;
        flex-direction: column;
        font-size: 1.8rem;
    }

    .first__telephone__div {
        display: flex;
        gap: 3em;
        font-size: 1.8rem;
    }
    .bell__speaking {
        width: 100%;
        margin-top: 5em;
    }

    .bell__speaking__photo {
        max-width: 30rem;
        width: 25rem;
    }

    .phone__caption {
        font-size: 1.2rem;
    }

    .second__telephone__div {
        display: flex;
        gap: 1em;
        font-size: 1.8rem;
        margin-top: 5em;
    }

    .third__telephone__div {
        display: flex;
        margin-top: 5em;
        gap: 1em;
        flex-direction: column;
    }

    .patent__image {
        max-width: 25rem;
        width: 20rem;
    }

    .telephone__paragraph {
        font-size: 1.8rem;
    }

    .master__patent {
        width: 20rem;
        max-width: 25rem;
        margin-top: 5em;
    }

    .later__inventions__div {
        display: flex;
        gap: 1em;
        font-size: 1.8rem;
        flex-wrap: wrap;
    }
    .death__div {
        display: flex;
        gap: 1em;
        font-size: 1.8rem;
    }

    .references__paragraph {
        font-size: 1.8rem;
    }

}

