html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-color: #54A0AB;
}


.header {
    background-color: #5475AB;
}
.nav__list {
    text-align: center;
    line-height: 3em;
    list-style: none;
}
.nav__link {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 1rem;
    font-weight: 900;
}

a:hover {
    opacity: .75;
}

.title {
    text-align: center;
    font-family: monospace;
    background-color: #5F54AB;
    color: white;
    padding: 1em;
    margin: 1em 0 1em 0;
}
main {
    background-color: #5475AB;
}
.portrait__figure {
    width: 50%;
    margin: 0 auto;
}

.bell__portrait {
    max-width: 300px;
    border-radius: 40px;
    border: ridge;  
}

.portrait__caption {
    text-align: center;
    font-size: .7rem;
    font-family: monospace;
    color: white;
}

.introduction__paragraph {
    text-align: center;
    padding: .8em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #5F54AB;
    color: white;
    width: 80%;
    margin: 1em auto 1em;
    border-radius: 20px;
}
